doctype html
html
	head
		link(href="styles/vendor.css",rel="stylesheet")
		link(href="styles/options.css",rel="stylesheet")
	body

		.container
			br
			br
			.row
				form.col-md-offset-3.col-md-6
					a.btn.btn-success New Course
					br
					button(type="submit").btn.btn-lg.btn-success Save

		script(src="scripts/vendor.js")
		script(src="scripts/options.js")
